.ComponentBody{
    height: auto;
    width: 90%;
    margin-left: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* Calculator */

.CalculatorButton {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

.CalculatorButton:hover {
    cursor: pointer;
}

.wrapper {
    background-color: black;
    padding: 1em;
    border-radius: 10px;
}

.orange {
    background-color: #FF9500;
    color: white;
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

.grey {
    background-color: #505050;
    color: white;
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}
.grey1 {
    background-color: #505050;
    color: white;
    width: 4.1cm;
}

.resultado {
    color: white;
    display: flex;
    justify-content: flex-end; /* Ou 'right' = o resultado seria o mesmo */
    margin-right: 1em;
    font-size: 3.5em;
}

/* Calendars */

.calendarBody{
    height: auto;
}
.calendarPtext{
    font-size: 30px;
    margin-top: 15px;
    color: rgb(69, 69, 248);
}
.calendarLine{
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(96, 96, 96);
    opacity: .6;
    margin-top: -20px;
}
.calendarBox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


/* GPACalculator */
.GPA-Input{
    height: 30px;
    border-radius: 10px;
    border: 1px solid aqua;
    margin-right: 10px;
}
.GPA-Button{
    color: #ef0d0d;
    border: none;
    margin-left: -10px;
}